<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bike rental</title>
</head>
<body>
    <form action="">
        <div id="info_wrapper">
            <h4> Model <input type="text" name="model" placeholder="e.g. Honda"> </h4>
            <h4>Fee <input type="text" name="fee" placeholder="100000"></h4>
            <h4>Image <input type="text" name="image" placeholder="e.g. https://hondaxemay"></h4>
            <h4>Year <input type="text" name="year" placeholder="e.g. 2003"></h4>
        </div>
        <button id="btn_submit_poll">Submit</button>
    </form>
</body>
</html>