<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About me:</title>
    <link href="https://fonts.googleapis.com/css?family=Kodchasan" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
    <link rel="stylesheet" href="../static/about-me.css">
</head>
<body>
    <div id="root">
        <h2>About me:</h2>
        <ol>
            <li>Name: LE, PHUONG HOA</li>
            <li>Age: 18</li>
            <li>School: Goethe Institut</li>
            <li>Hobbys: take other people's heart and let them ruin mine</li>
            <li>Crush: redirect(html = "https://www.youtube.com/watch?v=bo_efYhYU2A")</li>
        </ol>
    </div>
</body>
</html>